---
layout: default
---

<div class="row">
  <div class="col-lg-8">
    <!-- About me-->
    <div class="card">
      <h1 class="card-title">About Me</h1>

      <p>{{ site.author_bio }}</p>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <h6><i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</h6>
      <h6><i class="fas fa-envelope"></i> {{ site.author_email }}</h6>
      <h6><i class="fas fa-link"></i> {{ site.author_website_url }}</h6>
    </div>

    <!-- Skill-->
    <div class="card">
      <h1>Skills</h1>
      <p>Bash, Python, C++, Fortran, HTML/CSS,</p>
      <p>Unix/Linux, Windows, Git, Vi</p>
    </div>
  </div>
</div>
